.theoretic-conversation-body {
    width: 100%;
    height: 650px;
    position: relative;
    top: 0.1px;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.theoretic-conversation-footer {
    background-color: var(--dark-one);
    width: 75%;
    min-width: 240px;
    text-align: center;
    top: 40px;
    position: relative;
    margin: auto;
    border: 5px solid;
    border-top: 0 solid;
}


/*text container*/
:root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}


.chat-objects {
    position: relative;
    height: calc(100%);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: normal;
    overflow: auto;
}

.chat-objects p {
    min-width: calc(100% - 80%);
    max-width: 450px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 15px 20px;
    border-radius: 25px;

}

.bubble-right {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;
}

.bubble-left {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;
}

/*text container end */


/*loading button*/
@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.loading-button {
    position: relative;
    background: transparent;
    color: var(--light-one);
    padding: 20px 40px;
    border: 8px;
    flex-basis: 70%;
    font-weight: 300;
}


.loading-button span {
    color: var(--main-color);
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading-button span:nth-child(2) {
    animation-delay: .2s;
}

.loading-button span:nth-child(3) {
    animation-delay: .4s;
}

/*loading button end */


/*topbar*/
.top-menu {
    z-index: -1;
    background-color: var(--dark-two);
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top-menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.top-menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.top-menu .buttons .button.close {
    background-color: #f5886e;
}

.top-menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.top-menu .buttons .button.maximize {
    background-color: #a3d063;
}

.top-menu .title-chat {
    text-align: center;
    color: var(--dark-one);
    font-size: 20px;
}

/*topbar end*/

/*input field*/
.bottom_wrapper {
    position: relative;
    z-index: -1;
    width: 100%;
    background-color: var(--dark-two);
    padding: 20px 20px;
    bottom: 0;
}


/*End Vertical Scrollbar*/
.bottom_wrapper .message_input {
    width: 100%;
    text-align: left;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    outline-width: 0;
    color: gray;
    resize: none;
}

/*input field end*/

.konversation-container .konversation-header {
    background-color: var(--dark-one);
    padding: 10px;
    border: 5px solid;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}

.konversation-container .konversation-body {
    border: 5px solid;
    margin-top: 5px;
    /*padding: 0.5%;*/
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;

}
