/*festgelegte Farbe*/
:root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}

body {
    font-size: 20px;
    font-weight: normal;
    max-width: 450px;
    margin: -10px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--page-background);
}

p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;

}

.senden {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;


}

.empfangen {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;

}