.theoretic-conversation {
    width: 75%;
    min-width: 240px;
    max-height: 650px;
    position: relative;
    top: 40px;
    text-align: center;
    background-color: var(--dark-one);
    border: 5px solid;
    overflow: auto;
    margin: auto;
    display: flex
}

.chat-objects {
    flex: 1
}

.bubble-left-msg-row {
    justify-content: flex-end;

}

.bubble-left-msg-text {
    background: var(--dark-two);
    color: var(--light-one);
    padding: 20px 40px;
    border: 8px;
    flex-basis: 70%;
    font-weight: 300
}

.bubble-left-msg-text h2 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px
}

.bubble-left-msg-img {
    width: 50px;
    border-radius: 50%;
    margin: 0 20px
}

.bubble-left-msg-row {
    display: flex;
    align-items: center;
    margin: 40px
}

.bubble-right-msg-row {
    display: flex;
    align-items: center;
    margin: 40px
}

.bubble-right-msg-text {
    background: var(--dark-two);
    color: var(--light-one);
    padding: 20px 40px;
    border: 8px;
    flex-basis: 70%;
    font-weight: 300
}

.bubble-right-msg-text h2 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px
}

.bubble-right-msg-img {
    width: 50px;
    border-radius: 50%;
    margin: 0 20px
}

.bubble-right-msg-row {
    display: flex;
    align-items: center;
    margin: 40px
}



/*.bubble-right {*/
/*    position: relative;*/
/*    padding: 1rem;*/
/*    border: 4px solid #2651A6;*/
/*    margin: 0 auto;*/
/*    -webkit-border-radius: 20px;*/
/*    -moz-border-radius: 20px;*/
/*    border-radius: 20px;*/
/*    background: rgb(192, 190, 190);*/
/*    margin-bottom: 3rem;*/
/*}*/

/*.bubble-right:before {*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    left: 30px;*/
/*    top: 100%;*/
/*    border: 20px solid;*/
/*    border-color: #2651A6 transparent transparent #2651A6;*/
/*}*/

/*.bubble-right:after {*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    left: 34px;*/
/*    top: 100%;*/
/*    border: 15px solid;*/
/*    border-color: rgb(192, 190, 190) transparent transparent rgb(192, 190, 190);*/
/*}*/




/*.bubble-left {*/
/*    position: relative;*/
/*    padding: 1rem;*/
/*    border: 4px solid #2651A6;*/
/*    margin: 0 auto;*/
/*    -webkit-border-radius: 20px;*/
/*    -moz-border-radius: 20px;*/
/*    border-radius: 20px;*/
/*    background: rgb(182, 212, 226);*/
/*    margin-bottom: 3rem;*/
/*}*/

/*.bubble-left:before {*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    left: 30px;*/
/*    top: 100%;*/
/*    border: 20px solid;*/
/*    border-color: #2651A6 transparent transparent #2651A6;*/
/*}*/

/*.bubble-left:after {*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    left: 1050px;*/
/*    top: 100%;*/
/*    border: 15px solid;*/
/*    border-color: #2651A6 transparent transparent #2651A6;*/
/*}*/

/*.bubble-left img {*/
/*    float: right;*/
/*    max-width: 60px;*/
/*    width: 60px;*/
/*    margin-right: 20px;*/
/*    border-radius: 50%*/
/*}*/


@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

.loading-button {
    background-color: var(--dark-two);

    position: relative;


    background: var(--dark-two);
    color: var(--light-one);
    padding: 20px 40px;
    border: 8px;
    flex-basis: 70%;
    font-weight: 300
}


.loading-button span {
    color: #34b61a;
    font-size: 50px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading-button span:nth-child(2) {
    animation-delay: .2s;
}

.loading-button span:nth-child(3) {
    animation-delay: .4s;
}