.endscreen-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 10%;
    background-position: center;
    background-image: url(../../Resources/konfetti_animiert.gif);
    background-repeat: no-repeat;
    border-radius: 25px;
}


.imgerlen {
    vertical-align: middle;
    width: 350px;
    height: 300px;
    line-height: 300px;
    display: inline-block;
}

.imgerlenBox {
    position: relative;
    top: -305px;
    left: 0px;
    height: 30%;
    width: 30%;
    z-index: 1001;
    -webkit-animation: imgerlenBox 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: imgerlenBox 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 4.5s;
    animation-duration: 2.7s;
}


@-webkit-keyframes imgerlenBox {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

@keyframes imgerlenBox {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;

    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

.endscreen-text {
    justify-content: center;
}

.speechbubble {
    margin-top: 25%;
    border-radius: 25px;
    justify-content: center;
    background-color: var(--main-color);
    align-items: center;
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    /*margin: 15px 0;*/
    white-space: pre;
    padding: 20px;
    text-align: center;
    position: relative;
}

.speechbubble:after {
    content: "";
    position: absolute;
    border-left: 10px solid var(--main-color);
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-color);
    border-bottom: 10px solid transparent;
    right: -13px;
    top: 6px;
}

/*Gif appear dann disappear*/
.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: disappear 0s linear 7s forwards;

}

/*Container appear dann disappear*/
.endscreen-container .endscreengif {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    animation: disappear 0s linear 7s forwards;
}


/*Button "Weiter zur Sammlung" und "Zu den Badges" disappear danach appear*/
.btn {
    border: 5px solid;
    animation: opacityOn 7s normal forwards step-end;
    animation-delay: 0s;
}


@keyframes disappear {
    to {
        opacity: 0;
    }
}

@keyframes opacityOn {

    0% {
        opacity: 0;
    }
}