.background {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    justify-content: space-around;
}



.container-zuordnung {
    /*background-color: var(--dark-two);*/
    position: relative;
    top: 40px;
    /*border: 5px solid;*/
    padding: 10px;
}

/*.container-zuordnung .zuordnung-header {*/
/*    background-color: var(--dark-one);*/
/*    padding: 10px;*/
/*    border: 5px solid;*/
/*    border-radius: 15px;*/
/*    box-shadow: 10px 5px 5px black;*/
/*}*/

/*item heap*/
.item-heap {
    margin-top: calc(100% - 99%);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.Left {
    margin: 1rem;
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-width: 100%;
    height: 72vh;
    overflow: auto;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 5px 5px black;
    border-top-left-radius: 15px;
    background-color: var(--buttonhoverfarbton);
    border-bottom-left-radius: 15px;
    padding: 10px;
}

.Left::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.Left::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.Left::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.Left::-webkit-scrollbar-thumb {
    background: var(--spielbereich2);
}



/*item heap end*/

/*answer-heap*/
.answer-heap {
    margin-top: calc(100% - 99%);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.Up {
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-width: 100%;
    /*height: auto;*/
    height: 25vh;
    border-radius: 15px;
    overflow: auto;
}

.Up::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.Up::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.Up::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.Up::-webkit-scrollbar-thumb {
    background: var(--spielbereich2);
}

.upContainer {
    margin: 1rem;
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-width: 100%;
    height: auto;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: var(--spielbereich1);
    border-radius: 15px;
    padding: 10px;
}

.Down {
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-width: 100%;
    height: 25vh;
    overflow: auto;
    min-height: 150px;
    border-radius: 15px;
}

.Down::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.Down::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

.Down::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.Down::-webkit-scrollbar-thumb {
    background: var(--spielbereich2);
}

.downContainer {
    margin: 1rem;
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: auto;
    min-width: 100%;
    height: auto;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: var(--tedfarbton);
    border-radius: 15px;
    padding: 10px;
}

/*answer heap end*/

.header-categorization {
    display: flex;
    justify-content: space-between;
    text-align: center;
}