.background {
    display: flex;
    flex-direction:column;
    height: auto;
    overflow: auto;
    justify-content: space-around;
}


/*item heap*/
.item-heap {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.Left {
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: auto;
    min-height: 150px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 5px 5px black;
    background-color: #aeb0b9;

}

/*item heap end*/


/*answer-heap*/
.answer-heap {
    margin-top: calc(100% - 99%);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.Up {
    display: block;
    position: relative;
    margin-right: 2.5rem;
    text-align: center;
    font-weight: bold;
    width: calc(100%);
    /*min-width: 200px;*/
    height: auto;
    min-height: 150px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: rgba(7, 152, 255, 0.527);
}

.Down {
    display: block;
    position: relative;
    text-align: center;
    font-weight: bold;
    width: calc(100%);
    /*min-width: 200px;*/
    height: auto;
    min-height: 150px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: rgba(7, 152, 255, 0.527);
}

/*answer heap end*/

