.Left {
    display: block;
    position: relative;
    margin-left: 4rem;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 5px 5px black;
    background-color: #aeb0b9;
    top: 120px;

}

.Up {
    display: block;
    position: relative;
    margin-right: 2.5rem;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: rgba(7, 152, 255, 0.527);
    top: -180px;
    left: 900px;

}

.Down {
    display: block;
    position: relative;
    margin-left: 34.2rem;
    margin-top: -18.8rem;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px black;
    background-color: rgba(7, 152, 255, 0.527);
    top: -180px;
}

.background {
    display: block;
    width: calc(100%);
    overflow: scroll;
}