.ablaufanordung-container {
    /*background-color: var(--dark-two);*/
    position: relative;
    top: 40px;
    /*border: 5px solid;*/
    padding: 10px;
}

.ablaufanordung-container .ablaufanordung-header {
    background-color: var(--dark-one);
    padding: 10px;
    border: 5px solid;

}

.ablaufanordung-container .ablaufanordung-body {
    background: linear-gradient(to right bottom, #002B4A,#0075C8);
    border: 5px solid;
    margin-top: 5px;
    /*padding: 0.5%;*/

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scrollmenu {
    min-height: 50px;
    border: 3px solid;
    background-color: var(--main-color);
    overflow: auto;
    white-space: nowrap;
}

.dragCard {
    display: inline-block;
    /*color: black;*/
    text-align: center;
    border: 1px solid;
    padding: 14px;
    text-decoration: none;
    margin: 5px;
}

.DropBox {
    padding-left: 200px;
}
